---

- name: Network related tasks
  ansible.builtin.include_tasks:
    file: network.yml

- name: VM creation related tasks
  ansible.builtin.include_tasks:
    file: create_vm.yml

- name: Test connectivity
  ansible.builtin.include_tasks:
    file: connect.yml

- name: Cleanup things
  ansible.builtin.include_tasks:
    file: cleanup.yml
